# *.cpp
# *.c
# *.java
# *.py

*.aux
*.bbl
*.blg
*.log
*.out
*.bak
*.exe
*.bat
*.htm
*.html
*.in
*.class

*.synctex.gz
materials
others
chk_all
/tmp
template*
!template.cpp
cite_test*
*.tex
*.sav
codes.h
tmp12345.out.txt


